.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    text-align: center; 
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  .menu-image {
    max-width: 50%;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .back-button {
    display: inline-block;
    padding: 8px 15px;
    background-color:  #00a46c;
    color: #fbf8f8;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #ddd;
  }