<div class="restaurants-container">
    <div class="restaurant-card">
      <img src="/assets/images/sofia.jpg" alt="Restaurant 1">
      <h3>Food Bear-Sofia</h3>
      <p>Mladost 3</p>
      <p>Address: ul. Lozen 5</p>
      <p>Mobile 0898112222</p>
    </div>
  
    <div class="restaurant-card">
      <img src="/assets/images/plovdiv.jpg" alt="Restaurant 2">
      <h3>Food Bear-Plovdiv</h3>
      <p>Karshiaka</p>
      <p>Address: bul. Bulgaria 123</p>
      <p>Mobile 0898112233</p>
    </div>
  
    <div class="restaurant-card">
      <img src="/assets/images/bourgas.jpg" alt="Restaurant 3">
      <h3>Food Bear-Bourgas</h3>
      <p>Meden Rudnik</p>
      <p>Address: Vasil Levski 272</p>
      <p>Mobile 0898112244</p>
    </div>
  </div>
